.section{
    padding-bottom: 4rem;
}

.section__header{
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: #f2f2f2;
}

.section__h2{
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
}

.section__wrapper{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0 2rem;
    flex-wrap: wrap;
}
